.card {
  text-align: 'center';
  margin-bottom: '80px';
  box-shadow: '10px 10px 10px #333';
  width: '50%';
  background-color: aqua;
}

table {
  border-collapse: collapse;
}

th {
  padding: 5px;
  background-color: #3C5186;
  color: #FFF5DE;
}

td {
  padding: 5px;
}